body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.banner {
    background-size: cover;
    background-color: #222;
    color: rgb(255, 255, 255);
    padding: 6px;
    text-align: center;
}
.projects {
    padding: 40px;
    text-align: center;
}
.card {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
